* {
    margin: 0;
    padding: 0;
}

div {
    height: 800px;
    width: 400px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 150px;
    margin-right: 40px;
    margin-left: 50px;
    position: relative;
    top: 50px;
    bottom: 100px;
}

body {
    background: rgba(247, 245, 245, 0.897);
    text-align: centre;
}

.left {
    background: white;
}

.center {
    background: white;
}

.right {
    background: white;
}

.p {
    text-align: center;
    padding-top: 50px;
}

.para {
    text-align: center;
    color: purple;
    font-size: larger;
}

.r {
    text-align: center;
}

.in {
    background: purple;
    color: white;
    height: 30px;
    width: 80px;
    position: relative;
    top: 50px;
    left: 150px;
}

.hr {
    margin-left: 50px;
    margin-right: 50px;
}

.a {
    margin-left: 120px;
    margin-right: 120px;
}